@font-face {
  font-family: 'Futura';
  src: url('../Futura-Bold.woff2') format('woff2');
  font-style: normal;
}

@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.font-futura {
  font-family: 'Futura', sans-serif;
}

